img {
    width: 279px;
    margin: 10px;
    height: 309px;
}

html, body {
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

ul li {
    list-style-type: none;
    display: -webkit-inline-box;
}

div#wrapper {
    width: 200px;
    margin: 0 auto;
    margin-top: 49px;
}

section {
    background-color: #e95c4e;
    margin: 0 auto;
    margin-top: 19px;
    min-height: 600px;
}

.images {
    width: 1000px;
    margin: 0 auto;
    margin-top: 49px;
}

.images img {
    width: 1000px;
    height: 1000px;
}

h1 {
    text-align: center;
}

#quotes img {
    width: 279px;
    height: 309px;
}

#quotes ul {
    display: inline-block;
}
